body{
	position: relative;
width: 1519px;
height: 1024px;
background-color: #FFF;

}

* {
	margin: 0px;
	padding: 0px;
}

.cabecalho {
	position: fixed;
width: 1519.2px;
height: 78px;
left: 0px;
top: 0px;
z-index: 1;

background: #747474;
}

.indice {
	position: absolute;
	
left: 45px;
top: 15px;
}

.titulo {
	position: absolute;
width: 1519.2px;
height: 234px;
left: 0px;
top: 130px;

background: #3D6941;
}

.logo {
	position: absolute;
width: 433px;
height: 217px;
left: 510px;
top: 15px;
}

.titulo1 {
	position: absolute;
width: 876px;
height: 134px;
left: 555px;
top: 90px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 60px;

color: #FFFFFF;
}

.img1{
position: absolute;
width: 518px;
height: 376px;
left: 78px;
top: 437px;

}

.cliqueaqui {
	position: absolute;
width: 749px;
height: 103px;
left: 646px;
top: 437px;

background: #D9D9D9;
}

.texto2 {
	position: absolute;
width: 740px;
height: 48px;
left: 70px;
top: 32px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 48px;
/* identical to box height */


color: #000000;

mix-blend-mode: darken;
}

.p1 {
	position: absolute;
width: 740px;
height: 48px;
left: 20px;
top: 145px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: #000000;
}

.video {
	position: absolute;
width: 600px;
height: 350px;
left: 74px;
top: 898px;

}

.fotos {
	position: absolute;
width: 640px;
height: 403px;
left: 743px;
top: 932px;

background: #D9D9D9;
}

.p2 {
	position: absolute;
width: 399px;
height: 36px;
left: 110px;
top: 325px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
/* identical to box height */


color: #000000;
}

.amazonia {
	position: absolute;
width: 256px;
height: 167px;
left: 50px;
top: 30px;
}

.amazonia2 {
	position: absolute;
width: 256px;
height: 167px;
left: 350px;
top: 30px;
}

.amazonia3{
	position: absolute;
width: 256px;
height: 171px;
left: 50px;
top: 220px;
}

.amazonia4{
	position: absolute;
width: 256px;
height: 171px;
left: 350px;
top: 220px;
}

.fotos {
	position: absolute;
left: 743px;
top: 932px;


}

.dominio {
position: absolute;
width: 714px;
height: 54px;
left: 126px;
top: 471px;

font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 54px;


color: #3D6941;

}

.pdominio {
	position: absolute;
width: 1250px;
height: 60px;
left: 125px;
top: 525px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: #000000;
}

.imgdominio {
	position: absolute;
width: 540px;
height: 334px;
left: 450px;
top: 630px;
}

.rodapedominio {

position: absolute;
width: 875px;
height: 30px;
left: 380px;
top: 985px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 30px;
/* identical to box height */


color: #000000;

}

.inf1{
	position: absolute;
width: 1250px;
height: 158px;
left: 126px;
top: 1131px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: justify;

color: #000000;
}

.relevo1{
	position: absolute;
width: 68px;
height: 30px;
left: 126px;
top: 1330px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

text-align: justify;

color: #000000;
}




.relevo2{
	position: absolute;
width: 1250px;
height: 300px;
left: 126px;
top: 1357px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: justify;

color: #000000;
}

.clima1{
	position: absolute;
width: 61px;
height: 30px;
left: 126px;
top: 1530px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

text-align: justify;

color: #000000;

}

.clima2{
	position: absolute;
width: 1250px;
height: 300px;
left: 126px;
top: 1560px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: justify;

color: #000000;

}

.solos1 {
	position: absolute;
width: 55px;
height: 30px;
left: 129px;
top: 1760px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

text-align: justify;

color: #000000;
}

.solos2 {

position: absolute;
width: 1250px;
height: 379px;
left: 129px;
top: 1790px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: justify;

color: #000000;

}

.hidro1 {
	position: absolute;
width: 116px;
height: 30px;
left: 129px;
top: 2100px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

text-align: justify;

color: #000000;
}

.hidro2 {
	position: absolute;
width: 1255px;
height: 401px;
left: 129px;
top: 2130px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: justify;

color: #000000;
}

.vege1 {
	position: absolute;
width: 113px;
height: 30px;
left: 129px;
top: 2360px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

text-align: justify;

color: #000000;
}

.vege2 {
	position: absolute;
width: 1260px;
height: 768px;
left: 129px;
top: 2390px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: justify;

color: #000000;
}

.inf2 {

position: absolute;
width: 1077px;
height: 288px;
left: 220px;
top: 3000px;

background: #F4E9AA;
border-radius: 79px;
}

.pinf {

position: absolute;
width: 984px;
height: 120px;
left: 50px;
top: 80px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: justify;

color: #000000;
}

.desmatamento {
	position: absolute;
	top: 230px;
width: 358px;
height: 33px;
left: 650px;

font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;


background: #C2B46A;
border-radius: 11px;
}

.circulo1 {

    background: #B5D0B8 ;
    border-radius: 50%;
  
    position: absolute;
width: 300px;
height: 300px;
left: 193px;
top: 1450px;

}

.destaque1{

	position: absolute;
width: 1250px;
height: 158px;
left: 126px;
top: 1430px;

	font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;

color: #3D6941;

}

.dominio2 {

position: absolute;
width: 714px;
height: 54px;
left: 126px;
top: 471px;

font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 54px;
/* identical to box height */


color: #BEA41E;

}

.pnovo {
	position: absolute;
width: 1250px;
height: 158px;
left: 126px;
top: 1700px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: justify;

color: #000000;

}

#burger-toggle {

  position: relative;
  appearance: none;
  opacity: 0;
  display:none;

}

#burger-toggle:checked ~ .menu {
  opacity: 1;
  visibility: visible;
}

#burger-toggle:checked ~ .menu .menu-nav-link span div,
#burger-toggle:checked ~ .menu img,
#burger-toggle:checked ~ .menu .title p {
  transform: translateY(0);
  transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}
#burger-toggle:checked ~ .menu .image-link:nth-child(1) img {
  transition-delay: 0.18s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(2) img {
  transition-delay: 0.26s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(3) img {
  transition-delay: 0.34s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(4) img {
  transition-delay: 0.42s;
}
#burger-toggle:checked ~ .burger-menu .line::after {
  transform: translateX(0);
}

#burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
  transform: translateY(calc(var(--burger-menu-radius) / 30)) rotate(45deg);
  background-color: #ffffff;
}

#burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
  transform: scaleX(0);
  background-color: #ffffff;
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
  transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
  background-color: #ffffff;
}

.burger-menu {

    --burger-menu-radius: 4em;
    position: absolute;
    top: 10px;
    right: 9%;
    z-index: 100;
    display: block;
    width: var(--burger-menu-radius);
    height: var(--burger-menu-radius);
    outline: none;
    cursor: pointer;

}

.burger-menu .line {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 3px;
  background: rgb(76, 76, 76);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.burger-menu .line:nth-child(1) {

  top: 32%;

}

.burger-menu .line:nth-child(2) {

  top: 42%;

}

.burger-menu .line:nth-child(3) {

  top: 53%;

}

.burger-menu .line::after {

  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color-darker);
  transform: translateX(-100%);
  transition: 0.25s;

}

.burger-menu .line:nth-child(2)::after {
  transition-delay: 0.1s;
}

.burger-menu .line:nth-child(3)::after {
  transition-delay: 0.2s;

}

.burger-menu:hover .line::after {
  transform: translateX(0);
  transition-delay: 0.3s;

}

.menu {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1e23;
  opacity: 0;
  overflow-x: hidden;
  visibility: hidden;
  transition: 0.3s;

}

@media screen and (max-width: 750px) {
  .menu {
    display: block;
  }
}

.menu-nav {

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  margin-top: 10%;

}

@media screen and (max-width: 750px) {
  .menu-nav {
    flex-direction: column;
  }
}
.menu-nav-item {

    flex: 1;
    display: block;
    padding: 0em 1em;
    margin-right: 10px;

}

.menu-nav-link {

  position: relative;
  display: inline-flex;
  font-size: 2rem;
  color: white;
  text-decoration: none;

}

.menu-nav-link span {
  overflow: hidden;
}
.menu-nav-link span div {
  transform: translateY(102%);
}
.menu-nav-link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #00e0e9;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.menu-nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nomes {
	background-color: #3D6941;
	width: 1519.2px;
	height: 78px;
	top: 1500px;
	position: absolute;

}

.nomes2 {
	text-align: center;

	font-family: 'Poppins';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 30px;
margin-top: 25px;

color: #FFF;
}

.nomes3 {
	background-color: #3D6941;
	width: 1519.2px;
	height: 78px;
	top: 3400px;
	position: absolute;

}

.nomes4 {
	text-align: center;

	font-family: 'Poppins';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 30px;
margin-top: 25px;

color: #FFF;
}

.nomes5 {
	background-color: #3D6941;
	width: 1519.2px;
	height: 78px;
	top: 2500px;
	position: absolute;

}

.nomes6 {
	text-align: center;

	font-family: 'Poppins';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 30px;
margin-top: 25px;

color: #FFF;
}